<section class="content">
  <aside class="aside">
    <div>
      <h1>Filter By Categories:</h1>
      <ul class="category">
        <li
          *ngFor="let category of categories"
          (click)="searchByCategory(category.id)"
          [ngClass]="activeLink == category.id ? 'active' : ''"
        >
          {{ category.name }}
        </li>
      </ul>
    </div>
    <div>
      <h1>Filter By Brands:</h1>
      <ul class="brand">
        <li
          *ngFor="let brand of brands"
          (click)="searchByBrand(brand)"
          [ngClass]="activeLink == brand ? 'active' : ''"
        >
          {{ brand }}
        </li>
      </ul>
      <div class="priceFilter">
        <span>Filter By Max Price: ${{ activePrice }}</span>
        <input
          (change)="handlePriceChange($event)"
          type="range"
          title="price"
          min="50"
          max="2000"
          [defaultValue]="activePrice"
        />
      </div>
      <div class="priceFilter">
        <span>Filter By Rating: {{ activeRating }}</span>
        <input
          (change)="handleRatingChange($event)"
          type="range"
          title="rating"
          min="1"
          max="4"
          [defaultValue]="activeRating"
        />
      </div>
    </div>
  </aside>
  <div class="products">
    <h1 class="loading" *ngIf="products.length < 1 && !loading">
      Products is not found...
    </h1>
    <h1 *ngIf="loading" class="loading">Loading Products...</h1>
    <div *ngFor="let product of products" class="product__card">
      <div class="img">
        <img
          [src]="product.thumbnail"
          alt="{{ product.title }}"
          width="300"
          height="400"
        />
      </div>
      <div class="product__card_content">
        <h1 class="title">{{ product.title }}</h1>
        <p class="price">Price: ${{ product.price.current }}</p>
        <p class="reting">Rating: {{ product.rating }}</p>
        <button
          [disabled]="product.stock < 1"
          (click)="handleAddInToCart(product._id)"
          class="addToCart"
        >
          {{ product.stock < 1 ? "0 item in db" : "Add To Cart" }}
        </button>
      </div>
    </div>
  </div>
</section>
